<h1> Welcome To Angular POC</h1>
<hr>

<p id='Para1'>Angular Poc Static Home Page.Angular Poc Static Home Page.Angular Poc Static Home Page.Angular Poc Static Home Page.Angular Poc Static Home Page.Angular Poc Static Home Page.Angular Poc Static Home Page.
  Angular Poc Static Home Page.Angular Poc Static Home Page.Angular Poc Static Home Page.Angular Poc Static Home Page.Angular Poc Static Home Page.
  Angular Poc Static Home Page.Angular Poc Static Home Page.Angular Poc Static Home Page.Angular Poc Static Home Page.Angular Poc Static Home Page.
  Angular Poc Static Home Page.Angular Poc Static Home Page.Angular Poc Static Home Page.Angular Poc Static Home Page.Angular Poc Static Home Page.
</p>